<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="PTVGlass.PTVGlass">
	<uses-sdk />
	<application android:label="PTVGlass" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>